.card {
  transition: background-color 0.4s ease-in-out, border-color 0.4s ease-in-out;
}

.title,
.description {
  transition: color 0.4s ease-in-out;
}

.card:hover {
  background-color: var(--mantine-color-violet-0);
  border-color: var(--mantine-color-violet-4);
}

.card:hover .title {
  color: var(--mantine-color-violet-7);
}

.card:hover .description {
  color: var(--mantine-color-violet-6);
}
